// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

// font sizes
$title-font: 3.4rem;
$small-star: 1.2rem;

// margins
$space-margin: 0.5rem;

$font-stack: "Lora", serif;
$header-color: white;
$grey: rgba(150, 150, 150);
$border-color: rgba(150, 150, 150, 0.3);
$review-padding: 1rem 1.5rem;
