.comments {
  &__header {
    padding: $review-padding;
    font-size: $title-font;
  }

  &__comment {
    margin: 1rem 0;
  }
}

.comment {
  overflow-wrap: break-word;

  &__user {
    font-weight: bold;
    @include link($background-primary);
  }

  &__header {
    background: beige;
    @include FlexContainer(center, space-between);
  }

  &--margin {
    margin: 1rem 0;
  }

}
