.BookReviews {
  display: flex;
  flex-wrap: wrap;

  &__content {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem 0.5rem;
    cursor: pointer;
  }

  &__info {
    margin-left: 1rem;
  }

  &__thumbnail {
    width: 12.8rem;
    height: 20rem;
    border-radius: 5px;

    &--empty {
      @include FlexContainer();
      background: rgb(0, 100, 0);
    }
  }

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    overflow-wrap: break-word;
  }

  &__authors {
    font-size: 1.8rem;
    font-weight: 500;
  }
}
