.bookActivity {
  padding: $review-padding;

  &__section {
    margin: 1rem 0;
  }

  &__header {
    @include FlexContainer(center, space-between);
  }

  &__link {
    @include link(rgb(0, 100, 0));
  }

  &__headline {
    padding: 0;
  }

  &__title {
    font-size: $title-font;
    font-weight: bold;
  }
}
