.reviews {

  &__title {
    font-size: 3.4rem;
    padding: $review-padding;
  }
}
.review {
  margin: 1rem 0;
  padding: $review-padding;
  position: relative;

  &__user {
    font-weight: bold;
  }

  &__info {
    display: inline-block;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__rating {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem;
    font-size: 1.1rem;
  }

  &__date {
    display: inline-block;
    color: $text-muted;
  }

  &__totalComments {
    @include link($background-primary);
    font-weight: 700;
  }

  &__comments {
    background: $button-primary;
  }

  &__link {
    @include link($background-primary);
    font-weight: 700;
  }
}
