.searchBook {
  position: relative;
  width: 400px;
  z-index: 10;

  &__list {
    display: none;
    overflow-y: scroll;
    max-height: 500px;
    position: absolute;
    width: 100%;
  }

  &:focus-within {
    .searchBook__list {
      display: block;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
  }

  &__info {
    width: calc(100% - 85px);
  }

  &__thumbnail {
    width: 50px;
    height: 70px;
    border-radius: 5px;
    margin-right: 5px;

    &--empty {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(0, 100, 0);
    }
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
  }

  &__authors {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 420px) {
  .searchBook {
    width: 90% !important;
    margin: 0 auto;
  }
}
