html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: $font-stack;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: grey;
}

.link-inactive {
  text-decoration: none;
  color: inherit;

  &:hover {
    outline: none;
  }
}

.loadMore {
  cursor: pointer;
  font-weight: bold;
  color: darkgreen;

  &:hover {
    text-decoration: underline;
  }
}
